e-business-6330a-firebase-adminsdk-a70xb-f7a2922643.json

# node_modules は超巨大 → 絶対に含めない
node_modules/


# OS・エディタごとの一時ファイル
.DS_Store
.env
*.log
*.tmp

# VSCode 系
.vscode/

# GitHub Actions キャッシュ
.github/workflows/*.bak